In [4]:
!pip install 'statsmodels<=0.12.1'
!pip install sktime

Collecting statsmodels<=0.12.1
  Downloading statsmodels-0.12.1-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 3.9 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from statsmodels<=0.12.1) (1.19.5)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from statsmodels<=0.12.1) (1.1.5)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.7/dist-packages (from statsmodels<=0.12.1) (1.4.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels<=0.12.1) (0.5.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels<=0.12.1) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels<=0.12.1) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->statsmodels<=0.12.1) (1.15.0)
Installing collected packages: statsmodels
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.13.1
    Uninstalling statsmodels-0.13.1:
      Successfully uninstalled statsmodels-0.13.1
Successfully installed statsmodels-0.12.1
Requirement already satisfied: sktime in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from sktime) (0.37.0)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from sktime) (1.1.5)
Requirement already satisfied: numba>=0.53 in /usr/local/lib/python3.7/dist-packages (from sktime) (0.54.1)
Requirement already satisfied: statsmodels<=0.12.1 in /usr/local/lib/python3.7/dist-packages (from sktime) (0.12.1)
Requirement already satisfied: numpy>=1.19.3 in /usr/local/lib/python3.7/dist-packages (from sktime) (1.19.5)
Requirement already satisfied: scikit-learn>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from sktime) (1.0.1)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in /usr/local/lib/python3.7/dist-packages (from numba>=0.53->sktime) (0.37.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.53->sktime) (57.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->sktime) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->sktime) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->sktime) (1.15.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.0->sktime) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.0->sktime) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.0->sktime) (3.0.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels<=0.12.1->sktime) (0.5.2)

In [20]:
#ruch cen akcji na giełdzie
import pandas as pd
import numpy as np
from sktime.datasets import load_airline
from sktime.forecasting.base import ForecastingHorizon
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.performance_metrics.forecasting import mean_absolute_percentage_error
from sktime.utils.plotting import plot_series

y1 = pd.read_csv('PEKAO.mst')
#stopa zwrotu log(C[t]) - log(C[t-1]) = log(C[t]/C[t-1])
#średnie kroczące funkcja pandas rolling

In [21]:
open = y1[['<OPEN>']]
close = y1[['<CLOSE>']]

In [31]:
y1

     <TICKER>  <DTYYYYMMDD>  <OPEN>  <HIGH>   <LOW>  <CLOSE>    <VOL>
0       PEKAO      19980630   55.00   55.00   55.00    55.00   560360
1       PEKAO      19980701   58.50   58.50   58.50    58.50   651436
2       PEKAO      19980702   61.00   61.00   61.00    61.00   594535
3       PEKAO      19980703   58.50   58.50   58.50    58.50   849970
4       PEKAO      19980706   58.50   58.50   58.50    58.50   394699
...       ...           ...     ...     ...     ...      ...      ...
5860    PEKAO      20211123  119.30  121.80  117.20   121.30  2227796
5861    PEKAO      20211124  121.40  122.50  119.20   120.35  1338141
5862    PEKAO      20211125  121.00  122.25  119.60   121.00   347505
5863    PEKAO      20211126  117.85  117.85  111.75   112.40  1078008
5864    PEKAO      20211129  113.00  116.95  110.30   116.00  1034462

[5865 rows x 7 columns]

In [46]:
open

      <OPEN>
0      55.00
1      58.50
2      61.00
3      58.50
4      58.50
...      ...
5860  119.30
5861  121.40
5862  121.00
5863  117.85
5864  113.00

[5865 rows x 1 columns]

In [47]:
close

      <CLOSE>
0       55.00
1       58.50
2       61.00
3       58.50
4       58.50
...       ...
5860   121.30
5861   120.35
5862   121.00
5863   112.40
5864   116.00

[5865 rows x 1 columns]

In [38]:
stopa = ((close["<CLOSE>"]/open["<OPEN>"])-1)*100

In [36]:
stopa_log = np.log(close["<CLOSE>"])/np.log(open["<OPEN>"])

In [37]:
stopa_log.tail(20)

5845    1.011648
5846    0.996654
5847    0.994282
5848    1.002240
5849    0.999684
5850    0.998970
5851    0.998871
5852    0.998131
5853    0.998939
5854    0.999755
5855    0.996952
5856    0.999917
5857    0.994300
5858    0.995254
5859    1.000612
5860    1.003477
5861    0.998190
5862    1.000000
5863    0.990072
5864    1.005543
dtype: float64

In [39]:
stopa.tail(20)

5845    5.780811
5846   -1.622029
5847   -2.749141
5848    1.092896
5849   -0.153846
5850   -0.500000
5851   -0.546448
5852   -0.901961
5853   -0.512416
5854   -0.118530
5855   -1.464187
5856   -0.040000
5857   -2.715655
5858   -2.254098
5859    0.293132
5860    1.676446
5861   -0.864909
5862    0.000000
5863   -4.624523
5864    2.654867
dtype: float64

In [43]:
sredniakroczaca_stopa_log = stopa_log.rolling(15).sum()
sredniakroczaca_stopa_log

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
5860    14.978037
5861    14.979573
5862    14.985292
5863    14.973124
5864    14.978983
Length: 5865, dtype: float64

In [44]:
sredniakroczaca_stopa = stopa.rolling(15).sum()
sredniakroczaca_stopa

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
5860   -10.515837
5861    -9.758717
5862    -7.009577
5863   -12.726995
5864    -9.918282
Length: 5865, dtype: float64

In [45]:
sredniakroczaca_close = close.rolling(15).sum()
sredniakroczaca_close

      <CLOSE>
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
5860  1884.30
5861  1874.25
5862  1867.90
5863  1850.80
5864  1837.00

[5865 rows x 1 columns]